<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title> Home::Todos </title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/todo.css" rel="stylesheet">
    
</head>

	<body>
        
        <div class="maincontainer">
            <div class="top">
                <input type="text" name="newtodo" id="newtodo" placeholder="Enter new ToDo">
                <input type="button" value="Add as ToDo" id="addbutton">
            </div>
             
		  <div class="card-columns" id="addcardshere">
                
              
        </div>
            <hr style="background: white;">
            <div class="logo">
                <img src="./assets/logotodos.png">
            </div>
    </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="./assets/todo.js"></script>
	</body>

</html>


